@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg ,beige 0%, black 100%);

    /* რომ დაჭირდეთ ესენი  არ დაივიწყოთ!!! ამ შემთხევაში არ გჭირდეა */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



    font-family: "Edu AU VIC WA NT Pre", cursive;
    width: 100%;
    height: 100vh;
}
form {
    margin: 10px;
    padding: 10px;
}
label{
    font-weight: 500;
}
input {
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    /* დაკლიკების შემდეგ რომ ხაიზა იმას აშორებს */
    outline: none;
    
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    /* transparent -----> გამჭვირვალე*/
    background-color: transparent;
}
input[type = "text"]{
    border: 2px solid burlywood;
    color: burlywood;
}

button[type="submit"]{
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid burlywood;
    border-radius: 5px;
    color: burlywood;
    
    /* ცვლის მაუსის კურსორს */
    cursor: pointer;
}

/* :hover ნიშნავს როცა მაუსს მივიტან ელემნეტათან  */
button[type="submit"]:hover{
    background-color: burlywood;
    color: beige;
}

